<!-- SIDEBAR SECTION -->
<div class="sidebar js-user-nav">
  <a href="#" class="sidebar__toggle js-toggle-user-nav">
    <i class="far fa-user-cog"></i>
  </a>
  <div class="close-wrapper"></div>
  <div class="customer-sidebar">
    <div class="account-details">
      <div class="customer-name">G</div>
      <div class="customer-name-text">Gregory Tanacea</div>
      <div class="customer-email">demo@example.com</div>
    </div>
    <span class="paragraph bold">My account</span>
    <ul class="navigation">
      <li>
        <a href="user-account_profile.html">
          <i class="far fa-user"></i>
          <span>Profile</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="user-account_orders.html">
          <i class="far fa-receipt"></i>
          <span>Orders</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="user-account_downloadable-products.html">
          <i class="far fa-arrow-to-bottom"></i>
          <span>Downloadable products</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="user-account_wishlist.html">
          <i class="far fa-heart"></i>
          <span>Wishlist</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="user-account_compare.html">
          <i class="far fa-compress-alt"></i>
          <span>Compare</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="user-account_reviews.html">
          <i class="fal fa-star"></i>
          <span>My reviews</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="user-account_addresses.html">
          <i class="far fa-map-marker-alt"></i>
          <span>Address</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
    </ul>
    <span class="paragraph bold">Marketplace</span>
    <ul class="navigation">
      <li>
        <a href="marketplace_profile.html">
          <i class="far fa-user"></i>
          <span>Profile</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="marketplace_dashboard.html">
          <i class="far fa-tachometer-alt-fast"></i>
          <span>Dashboard</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="marketplace_products.html">
          <i class="far fa-tags"></i>
          <span>Products</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="marketplace_orders.html">
          <i class="far fa-receipt"></i>
          <span>Orders</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="marketplace_transactions.html">
          <i class="far fa-exchange"></i>
          <span>Transactions</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="marketplace_reviews.html">
          <i class="fal fa-star"></i>
          <span>Reviews</span>
          <i class="fal fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- END SIDEBAR SECTION -->