{% set title = "User account / Reviews" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="description" content=""/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include './blocks/stylesheets.html' %}
  </head>
  <body>
    <div id="app">
      <div class="main-container-wrapper">
        {% include './blocks/header.html' with { logged: true } %}

        <div class="main-content-wrapper">
          {% include './blocks/header_category.html' %}

          <div class="account-content">
            {% include './blocks/marketplace/sidebar.html' %}
            
            <div class="account-layout">
              <div class="account-head">
                <h1 class="h3">My reviews</h1>
                <div class="account-action">
                  <a href="#" class="btn btn-outline-gray"><i class="far fa-trash-alt"></i><span>Delete all</span></a>
                </div>
              </div>
              <div class="account-table-content">
                <div class="row">
                  <div class="col-12 col-xl-9">
                    <div class="card card--review">
                      <a href="#" class="card-img">
                        <img src="../images/list-item.jpg">
                      </a>
                      <div class="card-body">
                        <div class="card-action">
                          <a href="#" data-toggle="modal" data-target="#editReview" class="card-link">
                            <i class="far fa-pencil"></i>
                            <span>Edit</span>
                          </a>
                          <a href="#" class="card-link">
                            <i class="far fa-trash-alt"></i>
                            <span>Delete</span>
                          </a>
                        </div>
                        <div class="card-title">
                          <a href="#">Hyatt Guns</a>
                        </div>
                        <div class="rate">
                          <span class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                          </span>
                        </div>
                        <div class="card-text">
                          <h5>Good product</h5>
                          <p>The most highly evolved plants use seeds to reproduce and spread. Seeds have tough outer coatings and carry a large food store to help the new individual to grow, More primitive plants use simpler mechanisms. These usually involve spores which have a seed-like role but are very small and usually consist of just a cell.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include './blocks/footer.html' %}
      </div>
    </div>
  
    {% include './blocks/scripts.html' %}
  </body>
</html>
