<!-- FEATURES SECTION -->
<div class="features-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-9 col-xl-8">
        <h2 class="h3 features-section__head">Join 2AGunshow lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu magna dictum, volutpat velit in, rhoncus leo.</h2>
        <ul class="list-unstyled features-section__list row">
          <li class="features-section__list-item col-12 col-md-4">
            <img src="../images/feature.jpg" alt="">
            <h3>Great value</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu magna dictum, volutpat velit in, rhoncus leo. Vivamus laoreet ligula nec odio varius, ut pellentesque felis pulvinar.</p>
          </li>
          <li class="features-section__list-item col-12 col-md-4">
            <img src="../images/feature.jpg" alt="">
            <h3>Powerful tools</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu magna dictum, volutpat velit in, rhoncus leo. Vivamus laoreet ligula nec odio varius, ut pellentesque felis pulvinar.</p>
          </li>
          <li class="features-section__list-item col-12 col-md-4">
            <img src="../images/feature.jpg" alt="">
            <h3>Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu magna dictum, volutpat velit in, rhoncus leo. Vivamus laoreet ligula nec odio varius, ut pellentesque felis pulvinar.</p>
          </li>
        </ul>
        <a href="#" class="btn btn-primary">Open your shop now!</a>
      </div>
    </div>
  </div>
</div>
<!-- END FEATURES SECTION -->