<!-- PRIVACY LIST -->
<div class="container">
  <div class="accordion list-group list-group-flush list-group-accordion" id="privacy-list">
    <div class="wrap list-group-item">
      <a class="list-group-accordion-btn" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><span>Return policy</span> <i class="fal fa-angle-right"></i></a>
      <div id="collapseOne" class="collapse" data-parent="#privacy-list">
        <div class="inner">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero animi deserunt laudantium, accusamus iste quia commodi tempore alias, incidunt perferendis blanditiis maxime fugit natus optio eveniet. Omnis fugit sed qui!
        </div>
      </div>
    </div>
    <div class="wrap list-group-item">
      <a class="list-group-accordion-btn" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span>Shipping policy</span> <i class="fal fa-angle-right"></i></a>
      <div id="collapseTwo" class="collapse" data-parent="#privacy-list">
        <div class="inner">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero animi deserunt laudantium, accusamus iste quia commodi tempore alias, incidunt perferendis blanditiis maxime fugit natus optio eveniet. Omnis fugit sed qui!
        </div>
      </div>
    </div>
    <div class="wrap list-group-item">
      <a class="list-group-accordion-btn" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span>Privacy policy</span> <i class="fal fa-angle-right"></i></a>
      <div id="collapseThree" class="collapse" data-parent="#privacy-list">
        <div class="inner">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero animi deserunt laudantium, accusamus iste quia commodi tempore alias, incidunt perferendis blanditiis maxime fugit natus optio eveniet. Omnis fugit sed qui!
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PRIVACY LIST -->