<!-- PRODUCT LIST CATEGORY SECTION -->
<div class="product-list product-list--category">
  <div class="container-fluid">
    <div class="product-list__filter">
      <h3 class="product-list__filter-head">Shop by</h3>
      <div class="accordion list-group list-group-flush list-group-accordion" id="filter-list">
        <div class="wrap list-group-item">
          <div class="list-group-accordion-btn">
            <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Caliber</span> 
            <small><a href="#">Clear</a></small>
            <i class="fal fa-angle-right"></i>
          </div>
          <div id="collapseOne" class="collapse show" data-parent="#filter-list">
            <ol class="inner list-unstyled">
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-11" checked="checked">
                <label class="form-check-label" for="filter-check-11">9mm</label>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-12" checked="checked">
                <label class="form-check-label" for="filter-check-12">18mm</label>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-13">
                <label class="form-check-label" for="filter-check-13">27mm</label>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-14">
                <label class="form-check-label" for="filter-check-14">36mm</label>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-15">
                <label class="form-check-label" for="filter-check-15">45mm</label>
              </li>
            </ol>
          </div>
        </div>
        <div class="wrap list-group-item">
          <div class="list-group-accordion-btn">
            <span data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Manufacturer</span> 
            <small><a href="#">Clear</a></small>
            <i class="fal fa-angle-right"></i>
          </div>
          <div id="collapseTwo" class="collapse show" data-parent="#filter-list">
            <ol class="inner list-unstyled">
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-21" checked="checked">
                <label class="form-check-label" for="filter-check-21">Speer Ammunition</label>
                <ol class="list-unstyled">
                  <li class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="filter-check-211" checked="checked">
                    <label class="form-check-label" for="filter-check-211">Aguila</label>
                  </li>
                  <li class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="filter-check-212" checked="checked">
                    <label class="form-check-label" for="filter-check-212">Other</label>
                  </li>
                </ol>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-22">
                <label class="form-check-label" for="filter-check-22">Federal cartridge</label>
              </li>
            </ol>
          </div>
        </div>
        <div class="wrap list-group-item">
          <div class="list-group-accordion-btn">
            <span data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Gauge</span> 
            <small><a href="#">Clear</a></small>
            <i class="fal fa-angle-right"></i>
          </div>
          <div id="collapseThree" class="collapse show" data-parent="#filter-list">
            <ol class="inner list-unstyled">
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-31" checked="checked">
                <label class="form-check-label" for="filter-check-31">12 gauge</label>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-32" checked="checked">
                <label class="form-check-label" for="filter-check-32">10 gauge</label>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-33">
                <label class="form-check-label" for="filter-check-33">16 gauge</label>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-34">
                <label class="form-check-label" for="filter-check-34">20 gauge</label>
              </li>
              <li class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="filter-check-35">
                <label class="form-check-label" for="filter-check-35">28 gauge</label>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="product-list__content">
      <div class="product-list__head">
        <h2>Category title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur feugiat purus ut ultricies.</p>
        <div class="view">
          <a href="#" class="view__item active btn btn-dark">
            <i class="far fa-th"></i>
          </a>
          <a href="#" class="view__item btn btn-dark">
            <i class="far fa-list"></i>
          </a>
        </div>
        <div class="action">
          <div class="form-group">
            <label for="filter-select-1">Sort by</label>
            <select name="select" class="form-control" id="filter-select-1">
              <option value="0">Closest first</option>
              <option value="1">Other 1</option>
              <option value="2">Other 2</option>
            </select>
          </div>
          <div class="form-group">
            <label for="filter-select-2">Show</label>
            <select name="select" class="form-control" id="filter-select-2">
              <option value="10">10</option>
              <option value="20">10</option>
              <option value="30">30</option>
            </select>
          </div>
        </div>
      </div>
      <div class="product-list__items product-list__items--category">
        {% for i in 1..10 %}
          <div class="product-list__item">
            {% include '../home/product-item.html' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- END PRODUCT LIST CATEGORY SECTION -->