<!-- PRODUCT DETAIL SECTION -->
<div class="product-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5 product-detail__intro">
        <div class="product-detail__images">
          <div class="large">
            <img src="../images/product-large.jpg" alt="Product image">
          </div>
          <ul class="thumbs list-unstyled">
            <li class="thumbs__item">
              <a href="#">
                <img src="../images/product-large.jpg" alt="Product image">
              </a>
            </li>
            <li class="thumbs__item">
              <a href="#">
                <img src="../images/product-large.jpg" alt="Product image">
              </a>
            </li>
          </ul>
        </div>
        <div class="product-detail__description">
          <div class="group">
            <h5>Product information & Specs</h5>
            <p>FRAME Black composite Checkered front strap - SLIDE Machined aluminum Gray anodized finish for dramatic two-tone look Brushed polished flats - BARREL Rust-resistant Target crown - ACTION Semi-automatic Single-action trigger - GRIPS Black composite - FEATURES Extended ambidextrous thumb safety Beavertail grip safety Commander hammer Detachable 10-round magazine Dovetailed Combat fiber optic sights ABS carry case included - Caliber 22 LR - Barrel Length 4 14 - Overall Length 7 12 - Weight 14 oz - Magazine Capacity 10 - Sight Radius 5 38 - Barrel Finish Matte Black - Receiver Finish Matte - Front Sight Fiber Optic - Rear Sight Combat Fiber Optic - Barrel Material Steel - Checkering Textured Grip Panels - Receiver Material Black Composite - Trigger Finish Matte Black - Trigger Guard Finish Matte Black - Magazine Type Single Stack - Trigger Material Alloy - Trigger Guard Material Composite - Case ABS</p>
          </div>
          <div class="group">
            <h5>Details</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span>UPC</span>
                <span>023614442318</span>
              </li>
              <li class="list-group-item">
                <span>Caliber</span>
                <span>22 LR</span>
              </li>
              <li class="list-group-item">
                <span>Action</span>
                <span>SINGLE ACTION</span>
              </li>
              <li class="list-group-item">
                <span>Capacity</span>
                <span>10+1 ROUNDS</span>
              </li>
              <li class="list-group-item">
                <span>Barrel Length</span>
                <span>4.25 BARREL</span>
              </li>
              <li class="list-group-item">
                <span>Weight</span>
                <span>0.9</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-7 product-detail__info">
        <h2 class="h3">BROWNING 1911-22 BLACK LABEL</h2>
        <div class="meta">
          <span class="badge badge-info">In stock</span>
          <span class="text-success h4">New</span>
        </div>
        <div class="price">
          <span class="h2">$599.99</span>
          <div class="price__list">
            <span class="before">Before $ 799.99</span>
            <span class="after">You save $ 200</span>
          </div>
        </div>
        <div class="action">
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
            <i class="far fa-cart-plus"></i>
            <span>Add to cart</span>
          </a>
          <a href="#" class="btn btn-link">
            <i class="far fa-heart"></i>
          </a>
          <a href="#" class="btn btn-link">
            <i class="far fa-compress-alt"></i>
          </a>
        </div>
        <div class="product-thumb">
          <div class="product-thumb__image">
            <img src="../images/product-thumb-empty.jpg" alt="Product image">
            <span class="preferred"></span>
          </div>
          <div class="product-thumb__info">
            <a href="#" class="name">Guns For All</a>
            <p>5.7 mi.</p>
            <div class="rate">
              <span class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fal fa-star"></i>
              </span>
              <span>4.1 (39 ratings)</span>
            </div>
            <p>Not available in Alaska, Arkansas and Connecticut</p>
          </div>
        </div>
        <div class="description">
          <p>The Browning 1911-22 offers the traditional look and feel of a full-sized Model 1911 in a small caliber wallet-friendly 22 LR platform. Constructed with an alloy frame and aluminum slide it offers a skeletonized hammer and trigger and weighs less than one pound which adds to comfort for smaller-framed shooters. Featuring a 101 capacity this semi-automatic handgun with a blowback design is ideal for target shooting and training. The 1911-22 can be found with checkered rosewood grips gray wood laminate or composite grip.</p>
        </div>

        <div class="product-thumb__list-head">
          <b>Sold by other sellers</b>
          <span>2AGunShow Preferred FFL</span>
          <span class="preferred"></span>
        </div>
        <div class="list-group list-group-flush product-thumb__list">
          <div class="list-group-item product-thumb__list-item">
            <div class="row">
              <div class="col-md-6 product-thumb">
                <div class="product-thumb__image">
                  <img src="../images/product-thumb-empty.jpg" alt="Product image">
                  <span class="preferred"></span>
                </div>
                <div class="product-thumb__info">
                  <a href="#" class="name">Joe’s Guns</a>
                  <p>24.3 mi.</p>
                  <div class="rate">
                    <span class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fal fa-star"></i>
                    </span>
                    <span>0.0 (0 ratings)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 labels">
                <small class="text-success">NEW</small>
                <span class="h3">$589.99</span>
              </div>
              <div class="col-md-3 text-md-right">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
                  <i class="far fa-cart-plus"></i>
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
          <div class="list-group-item product-thumb__list-item">
            <div class="row">
              <div class="product-thumb col-md-6">
                <div class="product-thumb__image">
                  <img src="../images/product-thumb-empty.jpg" alt="Product image">
                  <span class="preferred"></span>
                </div>
                <div class="product-thumb__info">
                  <a href="#" class="name">All Guns Store</a>
                  <p>35.2 mi.</p>
                  <div class="rate">
                    <span class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fal fa-star"></i>
                    </span>
                    <span>0.0 (0 ratings)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 labels">
                <small class="text-success">NEW</small>
                <span class="h3">$615.30</span>
              </div>
              <div class="col-md-3 text-md-right">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
                  <i class="far fa-cart-plus"></i>
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
          <div class="list-group-item product-thumb__list-item">
            <div class="row">
              <div class="product-thumb col-md-6">
                <div class="product-thumb__image">
                  <img src="../images/product-thumb-empty.jpg" alt="Product image">
                </div>
                <div class="product-thumb__info">
                  <a href="#" class="name">Firearms Outlet</a>
                  <p>45.1 mi.</p>
                  <div class="rate">
                    <span class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fal fa-star"></i>
                    </span>
                    <span>0.0 (0 ratings)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 labels">
                <small class="text-success">NEW</small>
                <span class="h3">$630.00</span>
              </div>
              <div class="col-md-3 text-md-right">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
                  <i class="far fa-cart-plus"></i>
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
          <div class="list-group-item product-thumb__list-item">
            <div class="row">
              <div class="product-thumb col-md-6">
                <div class="product-thumb__image">
                  <img src="../images/product-thumb-empty.jpg" alt="Product image">
                </div>
                <div class="product-thumb__info">
                  <a href="#" class="name">Firearms Outlet</a>
                  <p>45.1 mi.</p>
                  <div class="rate">
                    <span class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fal fa-star"></i>
                    </span>
                    <span>0.0 (0 ratings)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 labels">
                <small class="text-success">NEW</small>
                <span class="h3">$630.00</span>
              </div>
              <div class="col-md-3 text-md-right">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
                  <i class="far fa-cart-plus"></i>
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-outline-primary float-right">See all</a>
      </div>
    </div>
  </div>
</div>
<!-- END PRODUCT DETAIL SECTION -->