<!-- SELLER STORE SECTION -->
<div class="seller-section">
  <div class="seller-section__promo" style="background-image: url(../images/store-promo.jpg);"></div>
  <div class="container">
    <div class="seller-section__info">
      <div class="logo">
        <img src="../images/store-logo.png" alt="Store logo">
      </div>
      <div class="seller-section__info-inner">
        <div class="seller-section__head">
          <h2 class="h3">Hyatt guns</h2>
          <span class="preferred preferred--title">
            <span>Preferred ffl</span>
          </span>
        </div>
        <div class="rate">
          <span class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fal fa-star"></i>
          </span>
          <span>0.0 (0 ratings and <a href="#">6 reviews</a>)</span>
        </div>
        <div class="location box-location">
          <i class="far fa-map-marker-alt"></i>
          <div class="box-location__inner">
            <p class="font-weight-bold">Tennessee, United States</p>
            <p>This vendor is xx miles away from you.</p>
          </div>
        </div>
      </div>
      <a href="#" class="action btn btn-outline-primary" data-toggle="modal" data-target="#contactSeller"><i class="fal fa-comment-alt-lines"></i><span>Contact seller</span></a>
    </div>
  </div>
</div>
<!-- END SELLER STORE SECTION -->