<!-- CHECKOUT NAVBAR -->
<div class="checkout__navbar">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col">
        <a href="home-in.html">
          <img src="../images/gunshow-logo-small.svg" alt="2AGunShow">
        </a>
      </div>
      <div class="col-auto checkout__navbar-links">
        <a href="call:3122027909" class="h3">
          <i class="fab fa-whatsapp"></i>
          <span>(312) 202 7909</span>
        </a>
        <a href="mailto:service@2agunshow.com" class="h3">
          <i class="far fa-envelope"></i>
          <span>service@2agunshow.com</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- END CHECKOUT NAVBAR -->