<!-- CHECKOUT PROCESS STEP CONFIRMATION -->
<div class="checkout__form-confirmation">
  <div id="confirmation-section" class="step-content disabled">
    <div class="form-container">
      <div class="accordian">
        <div class="accordian-header" data-toggle="collapse" data-target=".accordian-content-4" aria-expanded="false">
          <div class="form-header">
            <h3>Confirmation</h3>
          </div>
          <i class="far fa-angle-right"></i>
        </div>
        <div class="accordian-content accordian-content-4 collapse" data-parent="#checkout-form">
          <div class="confirmation">
            <h4 class="heading">Firearms</h4>
            <div class="row">
              <div class="col-md-7 pr-0">
                <div class="products-container">
                  <div class="top-products-border"></div>
                  <div class="bottom-products-border"></div>
                  <div class="row product-container">
                    <div class="product-image-container col-auto pr-0">
                      <img src="../images/list-item.jpg" class="checkout__form-confirmation-content-image">
                    </div>
                    <div class="col">
                      <div class="row checkout__form-confirmation-content-products">
                        <div class="col-auto pr-0">
                          <p>1 x</p>
                        </div>
                        <div class="col">
                          <p>22 LR 10+1 5 BARREL 2.2 LBS</p>
                          <p><b>$4567.00</b></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row product-container">
                    <div class="product-image-container col-auto pr-0">
                      <img src="../images/list-item.jpg" class="checkout__form-confirmation-content-image">
                    </div>
                    <div class="col">
                      <div class="row checkout__form-confirmation-content-products">
                        <div class="col-auto pr-0">
                          <p>1 x</p>
                        </div>
                        <div class="col">
                          <p>22 LR 10+1 5 BARREL 2.2 LBS</p>
                          <p><b>$4567.00</b></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div>
                  <p>Your firearm will be delivered to the following FFL:</p>
                  <p class="checkout__form-confirmation-shipping-name">Gander Outdoors</p>
                  <p>6802 118th ave, Kenosha, WI 53142 (12 mi.)</p>
                  <p>Ground delivery (Free)</p>
                </div>
                <div class="delivery-location-container">
                  <button data-toggle="modal" data-target="#newsShippingPopup" class="btn btn-outline-dark btn-sm">Change delivery location</button>
                </div>
              </div>
            </div>
            <h4 class="heading">Other products</h4>
            <div class="row">
              <div class="col-md-7 pr-0">
                <div class="products-container">
                  <div class="top-products-border"></div>
                  <div class="bottom-products-border"></div>
                  <div class="row product-container">
                    <div class="product-image-container col-auto pr-0">
                      <img src="../images/list-item.jpg" class="checkout__form-confirmation-content-image">
                    </div>
                    <div class="col">
                      <div class="row checkout__form-confirmation-content-products">
                        <div class="col-auto pr-0">
                          <p>1 x</p>
                        </div>
                        <div class="col">
                          <p>Futaba Airsoft Ammo Sling For Gun Accessories</p>
                          <p><b>$4567.00</b></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div>
                  <p>These items will be delivered to:</p>
                  <p class="checkout__form-confirmation-shipping-name">Gregory Tanacea</p>
                  <p>6500 400th ave, Burlington, WI 53105, 563-580-4493</p>
                  <p>Ground delivery (Free)</p>
                </div>
                <div class="delivery-location-container">
                  <button data-toggle="modal" data-target="#newsShippingPopup" class="btn btn-outline-dark btn-sm">Change shipping address</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="filter-check-confirmation" checked="checked">
                  <label class="form-check-label" for="filter-check-confirmation">By clicking this box you verify that you:</label>
                </div>
              </div>
              <div class="col-12">
                <ul class="checkout__form-confirmation-conditions">
                  <li>Are at least 21 years of age</li>
                  <li>Have no felony convictions</li>
                  <li>Are in compliance with applicable state and federal regulations</li>
                  <li>Are not prohibited from legally purchasing or possessing firearms and/or other products in your cart according to local, state, and federal laws</li>
                  <li>Agree to 2AGunShow's Privacy Policy and Terms and Conditions</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CHECKOUT PROCESS STEP CONFIRMATION -->