<!-- CHECKOUT PROCESS STEP CUSTOMER -->
<div class="checkout__form-customer">
  <div id="address-section" class="step-content information">
    <div class="accordian">
      <div class="accordian-header" data-toggle="collapse" data-target=".accordian-content-1" aria-expanded="false">
        <div class="form-header">
          <h3>Billing address</h3>
        </div>
        <i class="far fa-angle-right"></i>
      </div>
      <div class="accordian-content accordian-content-1 collapse" data-parent="#checkout-form">
        <div>
          <div class="row d-flex align-items-stretch">
            <div class="col-lg-6 holder_item checkout__form-customer-item">
              <div class="card checkout__form-customer-card active">
                <div class="card-body">
                  <div class="checkout__form-customer-card-radio">
                    <div class="form-group form-check">
                      <div class="radio-button">
                        <div class="radio-button__input">
                          <input type="radio" name="billing" value="12" id="billing-1">
                          <label for="billing-1" class="form-check-label"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="checkout__form-customer-card-info">
                    <p class="card-title checkout__form-customer-card-name">Justin Phelan,</p>
                    <ul type="none" class="checkout__form-customer-card-address">
                      <li>1234 Campbellsville Pike,</li>
                      <li>Culleoka, TN, 38451</li>
                      <li>Contact: 123-456-7890</li>
                    </ul>
                  </div>
                  <div>
                    <span class="control-error"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 holder_item checkout__form-customer-item">
              <div class="card checkout__form-customer-card active">
                <div class="card-body">
                  <div class="checkout__form-customer-card-radio">
                    <div class="form-group form-check">
                      <div class="radio-button">
                        <div class="radio-button__input">
                          <input type="radio" name="billing" value="12" id="billing-2">
                          <label for="billing-2" class="form-check-label"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="checkout__form-customer-card-info">
                    <p class="card-title checkout__form-customer-card-name">Justin Phelan,</p>
                    <ul type="none" class="checkout__form-customer-card-address">
                      <li>1234 Campbellsville Pike,</li>
                      <li>Culleoka, TN, 38451</li>
                      <li>Contact: 123-456-7890</li>
                    </ul>
                  </div>
                  <div>
                    <span class="control-error"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 holder_item checkout__form-customer-item">
              <div class="card checkout__form-customer-card active">
                <div class="card-body">
                  <div class="checkout__form-customer-card-radio">
                    <div class="form-group form-check">
                      <div class="radio-button">
                        <div class="radio-button__input">
                          <input type="radio" name="billing" value="12" id="billing-3">
                          <label for="billing-3" class="form-check-label"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="checkout__form-customer-card-info">
                    <p class="card-title checkout__form-customer-card-name">Justin Phelan,</p>
                    <ul type="none" class="checkout__form-customer-card-address">
                      <li>1234 Campbellsville Pike,</li>
                      <li>Culleoka, TN, 38451</li>
                      <li>Contact: 123-456-7890</li>
                    </ul>
                  </div>
                  <div>
                    <span class="control-error"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 checkout__form-customer-item">
              <div data-toggle="modal" data-target="#newAddressPopup" class="card h-100 cursor-pointer">
                <div class="card-body add-address-button text-center d-flex align-items-center justify-content-center">
                  <div>
                    <i class="far fa-plus"></i>
                    <p>Add a new address</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <span class="control-error"></span>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group form-check">
                <div class="radio-button checkbox-button">
                  <div class="radio-button__input">
                    <input type="checkbox" id="billing[use_for_shipping]" name="billing[use_for_shipping]">
                    <label for="billing[use_for_shipping]" class="form-check-label">Ship to this address (not available for firearms)</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CHECKOUT PROCESS STEP CUSTOMER -->