<!-- CHECKOUT PROCESS STEP SHIPPING -->
<div class="checkout__form-shipping">
  <div id="shipping-section" class="step-content">
    <div class="accordian">
      <div class="accordian-header" data-toggle="collapse" data-target=".accordian-content-2" aria-expanded="false">
        <div class="form-header">
          <h3>Shipping information</h3>
        </div>
        <i class="far fa-angle-right"></i>
      </div>
      <div class="accordian-content accordian-content-2 collapse" data-parent="#checkout-form">
        <div>
          <p>Items in your cart must be delivered to a dealer with a Federal Firearms License (FFL). Please select an FFL for delivery from our list of thousands.</p>
          <div class="shipping-methods">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="product-type">Firearms</h4>
              </div>
              <div class="col-sm-12">
                <p class="product-name">22 LR 10+1 ROUNDS 5 BARREL 2.2 LBS.</p>
              </div>
              <div class="col-sm-12 shipping-methods__actions">
                <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#fflModal">Select an FFL for delivery</a>
                <a href="#" class="btn btn-outline-primary">Or pick up from seller</a>
              </div>
              <div class="col-sm-12 shipping-methods__info">
                <p>This item will be delivered to:</p>
                <p><b>Gander Outdoors</b></p>
                <p>6802 118th ave</p>
                <p>Kenosha, WI 53142</p>
                <button data-toggle="modal" data-target="#fflModal" class="btn btn-outline-dark btn-sm">Change delivery location</button>
              </div>
              <div class="col-md-12 shipping-methods__options">
                <div class="form-group form-check form-check-inline">
                  <div class="radio-button">
                    <div class="radio-button__input">
                      <input checked="checked" type="radio" id="shipping_method-1" name="shipping_method_main">
                      <label class="form-check-label" for="shipping_method-1">Ground<small>Free</small></label>
                    </div>
                  </div>
                </div>
                <div class="form-group form-check form-check-inline">
                  <div class="radio-button">
                    <div class="radio-button__input">
                      <input type="radio" id="shipping_method-2" name="shipping_method_main">
                      <label class="form-check-label" for="shipping_method-2">Second day<small>$20.00</small></label>
                    </div>
                  </div>
                </div>
                <div class="form-group form-check form-check-inline">
                  <div class="radio-button">
                    <div class="radio-button__input">
                      <input type="radio" id="shipping_method-3" name="shipping_method_main">
                      <label class="form-check-label" for="shipping_method-3">Overnight<small>$20.00</small></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="product-type">Other products</h4>
              </div>
              <div class="col-sm-12">
                <p class="product-name">1911 w/hera arms cpe chassis</p>
              </div>
              <div class="col-sm-12 shipping-methods__actions">
                <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#selectAddressPopup">Select shipping address</a>
                <a href="#" class="btn btn-outline-primary">Or pick up from seller</a>
              </div>
              <div class="col-sm-12 shipping-methods__info">
                <p>This item will be delivered to:</p>
                <p><b>Gander Outdoors</b></p>
                <p>6802 118th ave</p>
                <p>Kenosha, WI 53142</p>
                <button data-toggle="modal" data-target="#selectAddressPopup" class="btn btn-outline-dark btn-sm">Change shipping address</button>
              </div>
              <div class="col-md-12 shipping-methods__options">
                <div class="form-group form-check form-check-inline">
                  <div class="radio-button">
                    <div class="radio-button__input">
                      <input checked="checked" type="radio" id="shipping_method-11" name="shipping_method_other">
                      <label class="form-check-label" for="shipping_method-11">Ground<small>Free</small></label>
                    </div>
                  </div>
                </div>
                <div class="form-group form-check form-check-inline">
                  <div class="radio-button">
                    <div class="radio-button__input">
                      <input type="radio" id="shipping_method-12" name="shipping_method_other">
                      <label class="form-check-label" for="shipping_method-12">Second day<small>$20.00</small></label>
                    </div>
                  </div>
                </div>
                <div class="form-group form-check form-check-inline">
                  <div class="radio-button">
                    <div class="radio-button__input">
                      <input type="radio" id="shipping_method-13" name="shipping_method_other">
                      <label class="form-check-label" for="shipping_method-13">Overnight<small>$20.00</small></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CHECKOUT PROCESS STEP SHIPPING -->