<!-- CHECKOUT SUMMARY -->
<div class="checkout__summary">
  <h3 class="heading">Order summary</h3>
  <div class="checkout__summary-details">
    <div class="d-flex checkout__summary-details-quantity">
      <p class="mr-auto">1 item in cart</p>
      <p class="ml-auto">
        <a href="#">Details</a>
      </p>
    </div>
    <div class="d-flex">
      <p class="mr-auto">Item Subtotal</p>
      <p class="ml-auto">$899.00</p>
    </div>
    <div class="d-flex">
      <p class="mr-auto">Delivery charges</p>
      <p class="ml-auto">FREE</p>
    </div>
    <div class="d-flex">
      <p class="mr-auto">Tax 0%</p>
      <p class="ml-auto">0.00 <i class="fas fa-info-circle" title="Some description"></i></p>
    </div>
    <div class="d-flex">
      <p class="mr-auto">Firearm Processing</p>
      <p class="ml-auto">$10.00 <i class="fas fa-info-circle" title="Some description"></i></p>
    </div>
    <div class="d-flex checkout__summary-details-total">
      <p class="mr-auto">Total</p>
      <p class="ml-auto">$999.00</p>
    </div>
  </div>
  <div class="checkout__summary-steps">
    <div class="checkout__summary-steps-item checkout__summary-steps-item--active">
      <p class="checkout__summary-steps-number">1</p>
      <p class="checkout__summary-steps-text">Select the billing address</p>
    </div>
    <div class="checkout__summary-steps-item checkout__summary-steps-item--active">
      <p class="checkout__summary-steps-number">2</p>
      <p class="checkout__summary-steps-text">Shipping information</p>
    </div>
    <div class="checkout__summary-steps-item checkout__summary-steps-item--active current">
      <p class="checkout__summary-steps-number">3</p>
      <p class="checkout__summary-steps-text">Payment information</p>
    </div>
    <div class="checkout__summary-steps-item">
      <p class="checkout__summary-steps-number">4</p>
      <p class="checkout__summary-steps-text">Confirmation</p>
    </div>
    <div class="checkout__summary-steps-button">
      <i class="fas fa-check-circle"></i>
      <button disabled="disabled" type="button" class="btn btn-primary">Place the order</button>
    </div>
  </div>
</div>
<!-- END CHECKOUT SUMMARY -->