.community {
    &__gun-shows {
        background: url(../images/bg-community-gun-shows.jpg) 50% 0/cover no-repeat;
    }
    &__instructors {
        background: url(../images/bg-community-instructors.jpg) 50% 0/cover no-repeat;
    }
    &__gun-ranges {
        background: url(../images/bg-community-gun-ranges.jpg) 50% 0/cover no-repeat;
    }
}