<!-- PRODUCT LIST ITEM -->
<div class="product-item card">
  <a href="buy_product-detail.html" class="product-item__image card-img-top">
    <img src="../images/product-thumb.jpg" alt="image">
    <span class="badge badge-dark">New</span>
  </a>
  <div class="product-item__body card-body">
    <span class="badge badge-dark">New</span>
    <h3 class="name">AMERICAN TACTICAL IMPORTS FireFly</h3>
    <div class="description"><strong>Hyatt Guns</strong> 25,3 miles</div>
    <span class="price">$289.99</span>
  </div>
  <div class="product-item__action">
    <a href="#" class="btn btn-link"  data-toggle="modal" data-target="#cartModal">
      <i class="far fa-cart-plus"></i>
      <span>Add to cart</span>
    </a>
  </div>
</div>
<!-- END PRODUCT LIST ITEM -->